<div class="pad-progress-container p-2">
    <div class="progress">

        <div id="goal-now" class="current-bar progress-bar bar-color-yesterday" role="progressbar" aria-valuenow="30"
             aria-valuemin="0" aria-valuemax="100">
        </div>

        <div id="now" class="current-bar progress-bar bar-color-current progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="30"
             aria-valuemin="0" aria-valuemax="100">
        </div>

        <div id="goal-goal" class="goal-bar  bar-color-goal "
             role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
        </div>
        <div class="progress-bar-end">
            <div id="progress-bar-end" class="progress-pin-element">
                <div id="pin-end-text" class="progress-pin-text">
                    AFSPRAAK
                </div>
                <div id="pin-end-pam" class="progress-pin-pam">
                    <div class="pam-value">20</div>
                    <div class="d-none d-sm-block">PAM</div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="legend">

    <div class="container">
        <div class="row">
            <li class="col"><span class="bar-color-yesterday"></span><small class="legend-small legend-earned"></small></li>
            <li class="col"><span class="bar-color-current progress-bar-striped progress-bar-animated"></span><small class="legend-small legend-current"></small></li>


            <div class="w-100"></div>

            <li class="col total-li"><span class="bar-color-bg"></span><small class="legend-small legend-total"></small></li>
            <li class="col goal-li"><span class="bar-color-goal"></span><small class="legend-small legend-goal"></small></li>


        </div>
    </div>
</ul>
<hr class="hr-element">
<h3><b class="appointment-text"></b></h3>