<div class="row justify-content-md-center mt-4">
    <div class="col-lg-6">
        <div class="w-100 pad-caretaker-header-title text-center">
            OVERZICHT
        </div>
        <div id="table">
            <table class="table-light table-striped table">
                <thead>
                <tr>
                    <th scope="col" class="w-50">Naam</th>
                    <th scope="col" class="w-50">Volgende afspraak</th>
                    <th scope="col" class="w-50">Punten per dag</th>
                    <th scope="col" class="w-25">Laatste score</th>
                    <th scope="col" class="w-25">Totaal gehaald</th>
                    <th scope="col" class="w-25">Meer info</th>
                </tr>
                </thead>
                <tbody id="table-data"></tbody>
            </table>
        </div>
    </div>
</div>