<div class="category-container row justify-content-md-center">
    <div class="row col-lg-6 mx-auto p-1">
        <div class="goal-card-container mx-auto">
            <h5 class="goal-card-header">VOOR VANDAAG</h5>
            <div class="goal-card-content pam-card-content">
                <p class="pam-today-display">12.5</p>
                <p class="goal-card-subheader">PAM punten</p>
            </div>
        </div>
    </div>
</div>


<div class="category-container row justify-content-md-center">
    <div class="col-lg-6 pad-container">
        <div class="w-100 pad-container-header">
            JOUW PAM PROGRESSIE
        </div>
        <div class="w-100 pad-container-content">
            <div id="progress-anchor"></div>
            <h3 id="pam-dailygoal-text"></h3>
            <p id ="appointment-expired-text">Uw afspraak is verlopen. neem contact met uw zorgverlener om een nieuwe afspraak te plannen.</p>
        </div>
    </div>
</div>

<div class="category-container row justify-content-md-center">
    <div class="col-lg-6 pad-container">
        <div class="w-100 pad-container-header">
            HOE GAAT HET?
        </div>
        <div class="w-100 pad-container-content">
            <h3><b id="motivational-title">Hou vol</b></h3>
            <p id="motivational-description">Het einde komt vanzelf. Zolang je maar goed bezig blijft kom je
                vanzelf bij je doel.</p>
            </br>
            <p>Zoekt u manieren om vandaag te bewegen. Zie hieronder suggesties voor activiteiten om PAM punten te verdienen!</p>
        </div>
    </div>
</div>

<div class="category-container row justify-content-md-center">
    <div class="row col-lg-6 mx-auto p-1" id="activity-container">
    </div>
</div>
