<div class="wrapper-home">
    <div class="container-fluid">

        <div class="row avatar">

            <div class="col-lg-12 d-none d-lg-block col12">
                <img src="assets/img/avatars/avatar_with_speech.png">

                <div id="speech-bubble">
                    <h2 id="welkom-text"></h2>
                </div>

            </div>

        </div>

        <div class="row cards-row">
            <div class="col-lg-3 col3">
                <a href="#">
                    <div class="cards" data-controller="statistics">
                        <h2>Statistieken</h2>
                        <p>Bekijk hier uw statistieken</p>

                    </div>
                </a>

            </div>

            <div class="col-lg-3 col3">
                <a href="#">
                    <div class="cards" data-controller="goals">
                        <h2>Doelen</h2>
                        <p>Bekijk hier uw doelen en progressie</p>

                    </div>
                </a>
            </div>
            <div class="col-lg-3 col3">
                <a href="#">
                    <div class="cards" data-controller="profile">
                        <h2>Profiel</h2>
                        <p>Bekijk uw profiel</p>

                    </div>
                </a>
            </div>
            <div class="col-lg-3 col3">
                <a href="#">
                    <div class="cards" data-controller="social">
                        <h2>Sociaal</h2>
                        <p>Bekijk hier de info van de verzorger en andere mensen</p>

                    </div>
                </a>
            </div>
        </div>


    </div>
</div>

