<div class="category-container logininput row justify-content-md-center">
    <div class="col-sm-4 m-3">
        <h2 class="logintext mb-3 font-weight-bold">Login</h2>

        <form class="login-form">
            <div class="form-group">
                <input type="text" name="username" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="Gebruikersnaam">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" id="exampleInputPassword" placeholder="Wachtwoord">
            </div>

            <div class="error mb-3 text-danger"></div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
<div class="category-container row justify-content-md-center mt-4">
    <div class="col-lg-6 pad-container">
        <div class="w-100 pad-container-header">
            INLOGGEN
        </div>
        <div class="w-100 pad-container-content">
            <h4 class="mb-2"><b>Waar kan ik mijn inlog gegevens vinden?</b></h4>
            <p>
                Wanneer u een Digital Life PAM activiteitensensor heeft ontvangen,
                dan heeft u daarbij een brief ontvangen waarop uw gebruikersnaam en wachtwoord staan weergegeven.
                Bewaar deze brief op een veilige locatie die u makkelijk terug kan vinden.
                Als u deze brief niet meer heeft dan kunt u contact met ons opnemen via:
            </p>
            <p>
                Telefoon: +31-653572839<br>
                E-Mail: digitallife@gmail.com
            </p>
        </div>
    </div>
</div>
<div class="d-none d-sm-none d-lg-block fixed-bottom">
    <img class="imagelogo" src="assets/img/logoproject.png" alt="Project WAP">
</div>