<div class="category-container row justify-content-md-center">
    <div class="col-lg-6 pad-container">
        <div class="w-100 pad-container-header">
            UW PROFIEL - <span class="name_rehabilitator"></span>
        </div>
        <div class="w-100 pad-container-content">
            <div class="row pb-3">
                <div class="col-lg-5 image-border">
                    <img class="imgrehabilitator profile_pic_rehabilitator" id="file_uploader" src="https://qph.fs.quoracdn.net/main-qimg-2b21b9dd05c757fe30231fac65b504dd"
                         onerror="if (this.src !== 'error.jpg') this.src = 'assets/img/default_image.png';" alt="Revalidant">
                </div>
                <div class="col-lg-5 rehabilitator-text">
                    <p><small>
                        Naam: <span class="name_rehabilitator"></span><br>
                        Leeftijd: <span class="age_rehabilitator"></span><br>
                        Adres: <span class="adress_rehabilitator">Doornbloemstraat 56</span><br>
                        Postcode: <span class="postalcode_rehabilitator">3218JK</span><br>
                        Bloedtype: <span class="bloodtype_rehabilitator">O</span><br>
                    </small></p>
                    <button id="file_uploader_open" type="button" class="btn default-button mr-2" data-toggle="modal" data-target="#exampleModal">
                        Profielfoto aanpassen
                    </button>
                </div>
            </div>

            <h3 class="mb-2"><b>Beschrijving: </b></h3>
            <p>
                <span class="description_rehabilitator"></span>
            </p>
            <h3 class="mb-2"><b>Gegevens incorrect?</b></h3>
            <p>
                Neem contact op met uw zorgverlener om dit aan te passen.
                Kijk aan de onderkant van deze pagina om de contactinformatie van uw zorgverlener te vinden.
            </p>
        </div>
    </div>
</div>
<div class="category-container row justify-content-md-center">
    <div class="col-lg-6 pad-container">
        <div class="w-100 pad-container-header">
            UW ZORGVERLENER - <span class="name_caretaker"></span>
        </div>
        <div class="w-100 pad-container-content">
            <div class="row pb-3">
                <div class="col-lg-5 image-border">
                    <img class="imgcaregiver profile_pic_caretaker" src=""
                         onerror="if (this.src !== 'error.jpg') this.src = 'assets/img/default_image.png';" alt="verzorger">
                </div>
                <div class="col-lg-5 rehabilitator-text">
                    <p><small>
                        <ins>Contact:</ins>
                        <br>
                        Naam: <span class="name_caretaker"></span><br>
                        Telefoon: <span class="phone_caretaker"></span><br>
                        E-Mail: <span class="email_caretaker"></span><br>

                        <ins>Ervaring:</ins>
                        <br>
                        <span class="experience1_caretaker"></span><br>
                        <span class="experience2_caretaker"></span><br>
                        <span class="experience3_caretaker"></span><br>

                    </small></p>
                </div>
            </div>

            <h3 class="mb-2"><b>Beschrijving</b></h3>
            <p>
                <span class="description_caretaker"></span>
            </p>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="pad-container-header modal-header">
            <div id="exampleModalLabel">PROFIEL FOTO AANPASSEN</div>
            <button type="button" class="pad-modal-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-content pad-container-content">
            <div class="modal-body upload-center">
            <img class="upload-center upload-preview" id="file_uploader_popup" src="https://qph.fs.quoracdn.net/main-qimg-2b21b9dd05c757fe30231fac65b504dd"
                 onerror="if (this.src !== 'error.jpg') this.src = 'assets/img/default_image.png';" alt="Revalidant">
                <input class="upload-center" type="file" id="fileUpload" name="profile_picture" accept="image/*">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default-button mr-2" id="file_uploader_save" data-dismiss="modal" disabled>Bevestigen</button>
            </div>
        </div>
    </div>
</div>