<div class="statistics-container">
    <div class="category-container row mt-3">
        <div class="col-12">
            <div class="arrow-div d-flex flex-row align-items-center">
                <div class="col-md-4 d-flex justify-content-center">
                    <i class="fas fa-arrow-left arrow-normal-date__left fa-3x"></i>
                </div>

                <div class="col-md-4 d-flex justify-content-center">
                    <h2>Statistieken!</h2>
                </div>

                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <input type="date" class="datepicker-stats--normal mr-2">
                    <i class="fas fa-arrow-right arrow-normal-date__right fa-3x"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="category-container row statistics-simple-container">
        <div class="goal-card-container mx-auto compare-animal">
            <h5 class="goal-card-header">Snelheid!</h5>
            <div class="goal-card-content">
                <div class="d-flex justify-content-center">
                    <i class="statistics-icon fas fa-running fa-7x"></i>
                </div>
                <p class="card-text"></p>
            </div>
        </div>

        <div class="goal-card-container mx-auto compare-yesterday">
            <h5 class="goal-card-header">Gister!</h5>
            <div class="goal-card-content">
                <div class="d-flex justify-content-center">
                    <i class="statistics-icon fas fa-dumbbell fa-7x"></i>
                </div>
                <p class="card-text"></p>
            </div>
        </div>

        <div class="goal-card-container mx-auto compare-calorie">
            <h5 class="goal-card-header">Calorieën!</h5>
            <div class="goal-card-content">
                <div class="d-flex justify-content-center">
                    <i class="statistics-icon fas fa-weight fa-7x"></i>
                </div>
                <p class="card-text"></p>
            </div>
        </div>

        <!--        <div class="col-xl-4 col-md-6 d-flex flex-row justify-content-center compare-animal">-->
        <!--            <div class="card my-4">-->
        <!--                <div class="card-header">-->
        <!--                    <h3 class="text-center">Snelheid!</h3>-->
        <!--                </div>-->
        <!--                <div class="card-body">-->
        <!--                    <div class="d-flex justify-content-center">-->
        <!--                        <i class="fas fa-running fa-7x"></i>-->
        <!--                    </div>-->
        <!--                    <p class="card-text">We konden je score niet vinden! :(</p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-xl-4 col-md-6 d-flex flex-row justify-content-center compare-yesterday">-->
        <!--            <div class="card my-4">-->
        <!--                <div class="card-header">-->
        <!--                    <h3 class="text-center">Gister!</h3>-->
        <!--                </div>-->
        <!--                <div class="card-body">-->
        <!--                    <div class="d-flex justify-content-center">-->
        <!--                        <i class="fas fa-dumbbell fa-7x"></i>-->
        <!--                    </div>-->
        <!--                    <p class="card-text">We konden je score niet vinden! :(</p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-xl-4 col-md-6 d-flex flex-row justify-content-center compare-calorie">-->
        <!--            <div class="card my-4">-->
        <!--                <div class="card-header">-->
        <!--                    <h3 class="text-center">Calorieën!</h3>-->
        <!--                </div>-->
        <!--                <div class="card-body">-->
        <!--                    <div class="d-flex justify-content-center">-->
        <!--                        <i class="fas fa-weight fa-7x"></i>-->
        <!--                    </div>-->
        <!--                    <p class="card-text">We konden je score niet vinden! :(</p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
    <div class="row mb-5 mx-5">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <a href="#" class="btn default-button advanced-stats mr-2">Geavanceerde statistieken</a>
        </div>
    </div>
</div>